# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Build files
build/
dist/

# Installer files
*.spec

# Logs
*.log

# Environment variables
.env

# Python bytecode
*.pyo
*.pyd