# Build & Packaging
build/
dist/
*.spec

# Logs & Reports
logs/
reports/
*.log

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/

# Env
venv/
env/
.venv/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db